
.ipynb_checkpoints/Feature Subset Selection-checkpoint.ipynb
.ipynb_checkpoints/KNN-checkpoint.ipynb
.ipynb_checkpoints/Logistic regression-checkpoint.ipynb
.ipynb_checkpoints/Naive Bayes-checkpoint.ipynb
.ipynb_checkpoints/Práctica Python-checkpoint.ipynb
.RData
.Rhistory
data/creditcard.csv
